<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jhonatan Pacheco - Desenvolvedor</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <main class="main_admin">
      <section class="main_admin-form">
        <form action="/admin" method="post">
          <h2 class="main_admin-logo">JHONATAN PACHECO</h2>
          <h3>Faça seu login</h3>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="E-mail"
            required
          />
          <input
            type="password"
            name="senha"
            id="senha"
            placeholder="Senha"
            required
          />
          <button type="submit">Entrar</button>
          <a href="#">Esqueci minha senha</a>
        </form>
      </section>
    </main>
  </body>
</html>
